<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>-0.015</real><real>0.14125</real><real>0.221666666667</real><real>0.20875</real><real>0.075</real><real>-0.0629166666667</real><real>-0.16375</real><real>-0.2025</real><real>-0.15625</real></array></plist>