<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>-0.0641666666667</real><real>0.104166666667</real><real>0.217083333333</real><real>0.208333333333</real><real>0.0975</real><real>-0.02375</real><real>-0.124166666667</real><real>-0.200416666667</real><real>-0.18</real></array></plist>