<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.43</real><real>0.316666666667</real><real>0.0658333333333</real><real>-0.106666666667</real><real>-0.339166666667</real><real>-0.4175</real><real>-0.193333333333</real><real>0.120833333333</real><real>0.3625</real></array></plist>