<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>-0.128333333333</real><real>0.208333333333</real><real>0.434166666667</real><real>0.416666666667</real><real>0.195</real><real>-0.0475</real><real>-0.248333333333</real><real>-0.400833333333</real><real>-0.36</real></array></plist>