<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.217916666667</real><real>0.175</real><real>0.0741666666667</real><real>-0.0483333333333</real><real>-0.169583333333</real><real>-0.215416666667</real><real>-0.11625</real><real>0.03625</real><real>0.1725</real></array></plist>