<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>-0.0225</real><real>0.14125</real><real>0.22</real><real>0.204583333333</real><real>0.0854166666667</real><real>-0.03875</real><real>-0.140833333333</real><real>-0.197083333333</real><real>-0.152916666667</real></array></plist>