<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.215833333333</real><real>0.14375</real><real>0.0358333333333</real><real>-0.0708333333333</real><real>-0.170833333333</real><real>-0.20625</real><real>-0.0875</real><real>0.10625</real><real>0.185833333333</real></array></plist>