<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.4225</real><real>0.321666666667</real><real>0.106666666667</real><real>-0.1175</real><real>-0.353333333333</real><real>-0.413333333333</real><real>-0.189166666667</real><real>0.1225</real><real>0.3475</real></array></plist>