<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.4125</real><real>0.375</real><real>0.213333333333</real><real>-0.0158333333333</real><real>-0.2925</real><real>-0.4325</real><real>-0.265833333333</real><real>-0.02</real><real>0.25</real></array></plist>