<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.395</real><real>0.331666666667</real><real>0.145833333333</real><real>-0.0808333333333</real><real>-0.325833333333</real><real>-0.446666666667</real><real>-0.2425</real><real>0.0541666666667</real><real>0.33</real></array></plist>