<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.435833333333</real><real>0.35</real><real>0.148333333333</real><real>-0.0966666666667</real><real>-0.339166666667</real><real>-0.430833333333</real><real>-0.2325</real><real>0.0725</real><real>0.345</real></array></plist>