<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.20625</real><real>0.1875</real><real>0.106666666667</real><real>-0.00791666666667</real><real>-0.14625</real><real>-0.21625</real><real>-0.132916666667</real><real>-0.01</real><real>0.125</real></array></plist>