<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.21125</real><real>0.160833333333</real><real>0.0533333333333</real><real>-0.05875</real><real>-0.176666666667</real><real>-0.206666666667</real><real>-0.0945833333333</real><real>0.06125</real><real>0.17375</real></array></plist>