<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.401666666667</real><real>0.359166666667</real><real>0.1925</real><real>-0.0616666666667</real><real>-0.330833333333</real><real>-0.430833333333</real><real>-0.24</real><real>0.0275</real><real>0.293333333333</real></array></plist>