<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>-0.045</real><real>0.2825</real><real>0.44</real><real>0.409166666667</real><real>0.170833333333</real><real>-0.0775</real><real>-0.281666666667</real><real>-0.394166666667</real><real>-0.305833333333</real></array></plist>