<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.0706666666667</real><real>0.243333333333</real><real>0.284666666667</real><real>0.128</real><real>-0.028</real><real>-0.180666666667</real><real>-0.252</real><real>-0.134</real><real>-0.226</real><real>-0.122666666667</real></array></plist>