<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.171333333333</real><real>0.0896666666667</real><real>-0.0363333333333</real><real>-0.0823333333333</real><real>-0.065</real><real>-0.16</real><real>-0.129</real><real>-0.0333333333333</real><real>0.037</real><real>0.138333333333</real></array></plist>