<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.342666666667</real><real>0.179333333333</real><real>-0.0726666666667</real><real>-0.164666666667</real><real>-0.13</real><real>-0.32</real><real>-0.258</real><real>-0.0666666666667</real><real>0.074</real><real>0.276666666667</real></array></plist>