<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>-0.0163333333333</real><real>-0.131666666667</real><real>-0.176666666667</real><real>-0.136666666667</real><real>-0.031</real><real>-0.001</real><real>0.0313333333333</real><real>-0.001</real><real>0.0643333333333</real><real>0.077</real></array></plist>