<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.0738461538462</real><real>0.158846153846</real><real>0.123076923077</real><real>0.03</real><real>-0.06</real><real>-0.159230769231</real><real>-0.201923076923</real><real>-0.095</real><real>-0.14</real><real>-0.0973076923077</real></array></plist>