<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.0353333333333</real><real>0.121666666667</real><real>0.142333333333</real><real>0.064</real><real>-0.014</real><real>-0.0903333333333</real><real>-0.126</real><real>-0.067</real><real>-0.113</real><real>-0.0613333333333</real></array></plist>