<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.237333333333</real><real>0.0346666666667</real><real>-0.202666666667</real><real>-0.224</real><real>-0.118</real><real>-0.240666666667</real><real>-0.172666666667</real><real>-0.0646666666667</real><real>0.102</real><real>0.28</real></array></plist>