<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>-0.336666666667</real><real>-0.446</real><real>-0.42</real><real>-0.296666666667</real><real>-0.036</real><real>0.201333333333</real><real>0.24</real><real>0.0226666666667</real><real>0.0393333333333</real><real>-0.074</real></array></plist>