<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.147692307692</real><real>0.317692307692</real><real>0.246153846154</real><real>0.06</real><real>-0.12</real><real>-0.318461538462</real><real>-0.403846153846</real><real>-0.19</real><real>-0.28</real><real>-0.194615384615</real></array></plist>