<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.411333333333</real><real>0.396</real><real>0.205333333333</real><real>-0.0113333333333</real><real>-0.0986666666667</real><real>-0.324</real><real>-0.342</real><real>-0.09</real><real>-0.00466666666667</real><real>0.231333333333</real></array></plist>