<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>-0.168333333333</real><real>-0.223</real><real>-0.21</real><real>-0.148333333333</real><real>-0.018</real><real>0.100666666667</real><real>0.12</real><real>0.0113333333333</real><real>0.0196666666667</real><real>-0.037</real></array></plist>