<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>-0.0326666666667</real><real>-0.263333333333</real><real>-0.353333333333</real><real>-0.273333333333</real><real>-0.062</real><real>-0.002</real><real>0.0626666666667</real><real>-0.002</real><real>0.128666666667</real><real>0.154</real></array></plist>