<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.195833333333</real><real>0.20875</real><real>0.15375</real><real>0.04875</real><real>-0.124583333333</real><real>-0.224166666667</real><real>-0.158333333333</real><real>-0.03625</real><real>0.0895833333333</real></array></plist>