<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>-0.194166666667</real><real>0.09</real><real>0.335833333333</real><real>0.404166666667</real><real>0.265</real><real>0.035</real><real>-0.1975</real><real>-0.405</real><real>-0.4375</real></array></plist>