<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.391666666667</real><real>0.4175</real><real>0.3075</real><real>0.0975</real><real>-0.249166666667</real><real>-0.448333333333</real><real>-0.316666666667</real><real>-0.0725</real><real>0.179166666667</real></array></plist>