<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>-0.205</real><real>0.0783333333333</real><real>0.325</real><real>0.419166666667</real><real>0.286666666667</real><real>0.0483333333333</real><real>-0.216666666667</real><real>-0.419166666667</real><real>-0.405</real></array></plist>