<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.182083333333</real><real>0.196666666667</real><real>0.146666666667</real><real>0.04625</real><real>-0.1325</real><real>-0.212916666667</real><real>-0.15125</real><real>-0.02875</real><real>0.109583333333</real></array></plist>