<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.3525</real><real>0.421666666667</real><real>0.285833333333</real><real>0.0608333333333</real><real>-0.278333333333</real><real>-0.448333333333</real><real>-0.339166666667</real><real>-0.09</real><real>0.2075</real></array></plist>