<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.37</real><real>0.406666666667</real><real>0.264166666667</real><real>0.0875</real><real>-0.236666666667</real><real>-0.435833333333</real><real>-0.305833333333</real><real>-0.0175</real><real>0.203333333333</real></array></plist>