<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>-0.1825</real><real>0.0908333333333</real><real>0.345</real><real>0.414166666667</real><real>0.2825</real><real>0.0533333333333</real><real>-0.224166666667</real><real>-0.3925</real><real>-0.441666666667</real></array></plist>