<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>0.371666666667</real><real>0.43</real><real>0.3025</real><real>0.0475</real><real>-0.215833333333</real><real>-0.431666666667</real><real>-0.309166666667</real><real>-0.0491666666667</real><real>0.198333333333</real></array></plist>