<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>-0.2125</real><real>0.06</real><real>0.364166666667</real><real>0.418333333333</real><real>0.285</real><real>0.0691666666667</real><real>-0.269166666667</real><real>-0.44</real><real>-0.423333333333</real></array></plist>