<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>-0.10625</real><real>0.03</real><real>0.182083333333</real><real>0.209166666667</real><real>0.1425</real><real>0.0345833333333</real><real>-0.134583333333</real><real>-0.22</real><real>-0.211666666667</real></array></plist>