<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>-0.09125</real><real>0.0454166666667</real><real>0.1725</real><real>0.207083333333</real><real>0.14125</real><real>0.0266666666667</real><real>-0.112083333333</real><real>-0.19625</real><real>-0.220833333333</real></array></plist>