<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array><real>-0.206666666667</real><real>0.0808333333333</real><real>0.325</real><real>0.405833333333</real><real>0.244166666667</real><real>0.0691666666667</real><real>-0.21</real><real>-0.41</real><real>-0.421666666667</real></array></plist>